{% extends "base.html" %}

{% block content %}
<!-- <main>
            <h1 class="visually-hidden">Heroes examples</h1>
          
            <div class="px-4 py-5 my-5 text-center">
              <img class="d-block mx-auto mb-4" src="/static/src/innovative.jpg.jpg" alt="" width="100" height="100">
              <h1 class="display-5 fw-bold text-body-emphasis">Innovative Hospital management Surgery Scheduling System</h1>
              <div class="col-lg-6 mx-auto">
                <p class="lead mb-4">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                  <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Primary button</button>
                  <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button>
                </div>
              </div>
            </div>
          
</main>     -->
    <h2>Welcome to the Innovative Hospital Management: A real time surgery scheduling System</h2>
    <p>Please Login or Register.</p>
{% endblock %}